body {
      display: flex;    
      flex-direction: column;        
      justify-content: center; 
      align-items: center;     
      height: 100vh;           
      margin: 0;
      background-image: url(/plaatjes/achtergrond-home.png) ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
        cursor: url("cursor-normaal.png"), auto;

      
    }
    img {
      max-width: 80%;          
      height: auto;
    }
    p {
  color: rgb(33, 66, 22);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.navbar {
    background-color: #2a5d9f;
    overflow: hidden;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px 0;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}


.navbar a:hover {
    background-color: #1f466d; 
    color: #ffffff;
}
a:hover,
button:hover {
  cursor: url("cursor-hover.png"), pointer;
}
