html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/plaatjes/achtergrond-home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: url("cursor-normaal.png"), auto;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

img {
  max-width: 80%;
  height: auto;
}

p {
  color: rgb(33, 66, 22);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  width: 100%;
  background-color: #2a5d9f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.navbar a:hover {
  background-color: #1f466d;
  color: #ffffff;
}

a:hover,
button:hover {
  cursor: url("cursor-hover.png"), pointer;
}

a,
li {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
